* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth
}


/* main content */
@media(min-width:1366px) and (orientation:landscape){

  /* div.container {
    margin: 10vh;
  } */

  div.corner-top-right {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -3;
    border-top: 242px solid #f3f3f3;
    border-left: 444px solid transparent;
  }

  div.corner-top-right2 {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    border-top: 242px solid #03a9f4;
    border-left: 300px solid transparent;
  }

  div.corner-bottom-left {
    content: "";
    position: absolute;
    bottom: -96vh;
    left: 0;
    z-index: -5;
    border-bottom: 892px solid #f9f9f9;
    border-right: 352px solid transparent;
  }

  div.corner-bottom-left3 {
    content: "";
    position: absolute;
    bottom: -210vh;
    left: 0;
    z-index: -7;
    border-top: 892px solid #f9f9f9;
    border-right: 352px solid transparent;
  }

  div.corner-bottom-left4 {
    content: "";
    position: absolute;
    bottom: -208vh;
    left: 0;
    z-index: -4;
    border-bottom: 822px solid #f3f3f3;
    border-right: 202px solid transparent;
  }

  header {
    background: transparent;
  }

  div.flex-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top:5%;
    margin-bottom:2%;
    margin-right:5%;
    margin-left:6%;
  }
  
  ul {
    list-style-type: none;
    margin-top: 0vh;
    text-align: center;
  }
  
  ul li {
    display: inline;
    padding: 1.2vh;
  }
  
  ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #2a2a2a;
    border: 1px solid transparent;
    transition: 0.5s ease;
  }
  
  ul li a:hover{
    text-decoration: none;
    border-radius: 5px;
    padding: 1.2vh;
    color: #2a2a2a;
    border-color: #2a2a2a;
  }
  
  .container-1{
    display:flex;
    
    /* align-items:flex-start;
    align-items:flex-end; */
    align-items:center;
    
    flex-direction:column;
   
  }
  
  .container-2{
    display:flex;  
    /* justify-content:flex-start;
    justify-content:flex-end; */
    /* justify-content:center; */
    justify-content:space-around;
   
    /* justify-content:space-between; */
  }



.container-1 div{
  border:1px transparent solid;
  padding:1px;
}

.container-2 div{
  margin-top:10vh;
  margin-bottom:10vh;
  border:1px #cccccc solid;
  padding:10px;
}

.box-1{
  text-align: center;
  flex:1;
  order:1;
}

div.box-4 button.buttondown {
  position: relative;
  margin-top: 5vh;
  background-color: transparent;
  border: none;
  font-size: 8vh;
}

i.fa.fa-angle-down {
  color: #5E6A6E;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}
@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-40px); }
  100% { transform: translateY(0); }
}

.box-2{
  text-align: center;
  flex:2;
  order:2;
}

div.box-2 span {
  font-size: 2rem;
  line-height: 1.4em;
  display: inline-block;
  padding: 0 4rem;
  color: #fff;
  border-radius: 100px;
  background: #1098D4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.box-2 h1 {
  color: #5E6A6E;
}

div.box-3 p {
  color: #5E6A6E;
}

div.box-4 p {
  color: #5E6A6E;
}

div.container-2-box h2{
  color: #5E6A6E;
}

div.container-2-box p{
  color: #5E6A6E;
  padding-left:2vh;
}

div.container-fluid.blue h3.touch {
    color: #5E6A6E;
}

.box-3{
  text-align: center;
  flex:1;
  order: 3;
}

.box-4{
  text-align: center;
  flex:1;
  order: 3;
}

.container-2-box{
  flex-basis: 30%;  
}

div.grouplogoproj {
  margin-top:0;
  margin-left: 6vh;
  text-align: center;
  border:none;
}

img.projectlogo {
  width: 5rem;
  height: auto;
  margin-right: 5vh;
  transition: transform .2s; /* Animation */
}

img.projectlogo:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

img.profilelogo {
  height: 30vh;
  width: 30vh;
  object-fit: cover;
  border-radius: 50%;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3.thick{
  color: #1098D4;
  text-decoration: none;
  padding-bottom:1vh;
  padding-left:2vh;
}

a {
  text-decoration: none;
}

div.projectslink {
  margin: 5vh 2vh 2vh;
  padding-left: 2vh
}

div.container-fluid.blue {
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255,0.5)), url('../assets/footer.jpg');
  height: 10vh;
  background-size: cover;
  background-position: center;
  margin:0vh;
}

div.container-fluid.blue h3{
  padding-top:1vh;
}

div.container-2-box {
  line-height: 1.6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.d-block.w-100.crsl {
  height: 75vh;
  object-fit: cover;
}

div.container.carousel {
  margin-bottom: 8vh;
}
}


@media(min-width:375px) and (orientation:portrait){

  div.container {
    margin: 5vh;
  }

  div.corner-top-right {
    display: none;
  }

  div.corner-top-right2 {
    display: none;
  }

  div.corner-bottom-left {
    display: none;
  }

  div.corner-bottom-left2 {
    display: none;
  }

  header {
    background: #fff;
  }

  div.flex-container {
    display: flex;
    flex-direction: row-reverse;
    margin-right:33%;
  }
  
  ul {
    list-style-type: none;
    margin-top: 0vh;
    text-align: center;
  }
  
  ul li {
    display: inline;
  }
  
  ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #2a2a2a;
    border: 1px solid transparent;
    transition: 0.5s ease;
  }
  
  ul li a:hover{
    text-decoration: none;
    border-radius: 5px;
    padding: 1.2vh;
    color: #2a2a2a;
    border-color: #2a2a2a;
  }

  a {
    text-decoration: none;
  }

  .container-1{
    display:flex;
    
    /* align-items:flex-start;
    align-items:flex-end; */
    align-items:center;
    
    flex-direction:column;
   
  }
  
  .container-2{
    display:flex;  
    flex-direction:column;
    /* justify-content:flex-start;
    justify-content:flex-end; */
    /* justify-content:center; */
    justify-content:space-around;
   
    /* justify-content:space-between; */
  }



.container-1 div{
  border:1px transparent solid;
  padding:1px;
}

.container-2 div{
  margin-top:10vh;
  border:1px #f3f3f3 solid;
  padding:10px;
}

.box-1{
  text-align: center;
  flex:1;
  order:1;
}

div.box-4 button.buttondown {
  position: relative;
  margin-top: 5vh;
  background-color: transparent;
  border: none;
  font-size: 8vh;
}

i.fa.fa-angle-down {
  color: #5E6A6E;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}
@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-40px); }
  100% { transform: translateY(0); }
}

.box-2{
  text-align: center;
  flex:2;
  order:2;
}

div.box-2 span {
  font-size: 1.5rem;
  line-height: 1.4em;
  display: inline-block;
  padding: 0 4rem;
  color: #fff;
  border-radius: 100px;
  background: #1098D4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-3{
  text-align: center;
  flex:1;
  order: 3;
}

.box-4{
  text-align: center;
  flex:1;
  order: 3;
}

.container-2-box{
  flex-basis: 30%;  
}

div.grouplogoproj {
  margin-top:0;
  text-align: center;
  border:none;
}

img.projectlogo {
  width: 4rem;
  height: auto;
  margin-right: 2vh;
}

img.profilelogo {
  height: 30vh;
  width: 30vh;
  object-fit: cover;
  border-radius: 50%;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3.thick{
  color: #1098D4;
  padding-bottom:1vh;
  padding-left:0vh;
}

div.container-fluid.blue {
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255,0.5)), url('../assets/footer.jpg');
  height: 10vh;
  background-size: cover;
  background-position: center;
  margin:0vh;
}

div.container-fluid.blue h3{
  padding-top:1vh;
  font-size: 1rem;
}

div.container-2-box {
  line-height: 1.6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.box-2 h1 {
  color: #5E6A6E;
}

div.box-3 p {
  color: #5E6A6E;
}

div.box-4 p {
  color: #5E6A6E;
}

div.container-2-box h2{
  color: #5E6A6E;
}

div.container-2-box p{
  color: #5E6A6E;
}

div.container-fluid.blue h3.touch {
    color: #5E6A6E;
}

img.d-block.w-100.crsl {
  height: 75vh;
  object-fit: cover;
}

div.container.carousel {
  margin-bottom: 8vh;
}
}